[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GEEmediate"]
	path = GEEmediate
	url = https://github.com/daniel258/geemediate
[submodule "ICcalib"]
	path = ICcalib
	url = https://github.com/daniel258/iccalib
